.todo-item {
  width: 220px;
  padding: 8px;
  border: 1px solid #282c34;
  margin-top: 10px;
  text-align: center;
}
.todo-item .todo-done {
  text-decoration: line-through;
}
.todo-item-container {
  display: flex;
}
.default-button {
  margin-top: 10px;
  margin-left: 10px;
}
.add-button {
  border: 1px solid #6593F1;
  background-color: #6593F1;
  color: aliceblue;
  width: 50px;
}
.todo-add-container {
  display: flex;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
